Dear {{full_name}},

We hope this message finds you well. We want to bring to your attention that your membership payment for Lion Gym is currently pending.
As a valued member of Lion Gym, we appreciate your commitment to your fitness journey. To avoid any disruption to your membership, we kindly request that you settle your outstanding balance by the due date mentioned below.

Name: {{full_name}}
Membership Plan: {{plan}}
Plan Price: {{price}}
Balance Due Date: {{balance_due_date}}
Expiry Date: {{expiry_date}}

Thank you for choosing Lion Gym, and we look forward to your continued membership with us.
Best regards,
Lion Gym
